<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EComp-pass</title>
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- main container -->
    <div class="center-container">
        <div class="form">
            <h1>EComp-pass</h1>

            <!-- form div for inputs -->
            <form>
                <!-- student id input -->
                <div>
                    <label for="student-id">Student ID</label>
                    <input type="text" inputmode="numeric" maxlength="6" pattern="[0-9]*" id="student-id" name="student_id">
                </div>

                <!-- partner id input -->
                <div>
                    <label for="partner-id">Partner ID</label>
                    <input type="text" inputmode="numeric" maxlength="6" pattern="[0-9]*" id="partner-id" name="partner_id">
                </div>

                <!-- current location dropdown -->
                <div>
                    <label for="where-am-i-at">Where am I at?</label>
                    <select id="where-am-i-at" name="where_am_i_at">
                        <option value="">-- Select --</option>
                        <option value="field">Field</option>
                        <option value="pit">Pit</option>
                        <option value="bathroom">Bathroom</option>
                        <option value="Other">Other</option>
                    </select>
                    <textarea  id="custom-from" placeholder="Where are you?" style="display: none;"></textarea>
                </div>
                

                <!-- destination dropdown -->
                <div>
                    <label for="where-am-i-going">Where am I going?</label>
                    <select id="where-am-i-going" name="where_am_i_going">
                        <option value="">-- Select --</option>
                        <option value="field">Field</option>
                        <option value="pit">Pit</option>
                        <option value="bathroom">Bathroom</option>
                        <option value="Other">Other</option>
                    </select>
                    <textarea  id="custom-to" placeholder="Where are you going?" style="display: none;"></textarea>
                </div>

                <!-- submit button -->
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- save and load script. -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
